<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  
  <connectionStrings>
    <add name="Oracle11g" connectionString="User Id=vitali_shcharbin;Password=1;Data Source=development-pc/xe" />
  </connectionStrings>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
      <property name="connection.connection_string">User Id=vitali_shcharbin;Password=1;Data Source=development-pc/xe</property>
      <property name="connection.isolation">ReadCommitted</property>
      <property name="connection.driver_class">NHibernate.Driver.OracleDataClientDriver</property>
      <property name="adonet.batch_size">10</property>
    </session-factory>
  </hibernate-configuration>
  
</configuration>